html,body{
    height: 100%;
    overflow-x: hidden;
}
.bg-custom{
    background-image: linear-gradient(rgb(28, 28, 70),rgb(240, 17, 66));
}
/* .col-md-12 .img{
    background-image: url('IMG_20201213_122437.jpg');
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
} */
.col-md-0{
    width: 0;
}
.col-md-12{
    width: 100%;
}